.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* width: 209px !important; */
  width: 185px !important;
  height: 352px !important;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.features-card-item-img {
  display: block;
  width: 130px;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  margin: auto;
}

.features-card {
  margin-top: 50px;
}

.swiper-wrapper {
  gap: 81px;
  height: 419px;
}

.features-card-item {
  margin-top: -39px;
  text-align: left;
  width: 154px;
}

.features-card-item-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  color: #241400;
}

.features-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 52.19%;
  display: flex;
  align-items: center;
  color: #241400;
  margin-top: 8px;
}

.features-about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 202%;
  display: flex;
  align-items: center;
  color: #241400;
}

.swiper-scrollbar-drag {
  width: 51px !important;
  height: 12px;
  top: -4px;
  background: rgb(77, 41, 0);
  border-radius: 1px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: auto;
  width: 21px;
  height: 41px;
  color: #4d2900;
  left: 1226px;
  top: 160px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
  width: 21px;
  height: 41px;
  color: #4d2900;
  top: 160px;
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  bottom: 3px;
  z-index: 999;
  width: 370px;
  height: 6px;
  left: 482px;
  background: #d7d7d7;
  justify-content: center;
  margin: auto;
}